*{  
    margin:0;
    padding:0;  
    box-sizing:border-box;
}

#game{
    border: 7px dashed rgb(152, 4, 4);
    width:800px;
    height:600px;

 
    margin-left: 50%;
    max-width:100%;
    transform: translate(-50%, 50%);
}
