* {
    margin: 0;
    padding: 0;
    background-image: url('background.gif');
    background-size: cover;
}

#game {
    border: 10px dashed lime;
    width: 800px;
    height: 800px;
    display: flex;
    
    margin-left: 50%;
    max-width: 50%;
    transform: translate(-50%, 50%);

}
